body{
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
/* header section */
#body-header{
  width: 100%;
  min-height: 30vh;
  background-image: linear-gradient(90deg, #11096b, #331757);
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 8rem;
}

.horizontal-list{
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  padding: none;
}
.horizontal-list li{
  display: inline-block;
  margin: 0px 15px 0px 0px;
}
.text-center{
  text-align: center;
}
.social{
  margin-top: 10vh;
  font-size: 1.5rem;
}
#nav-menu{
  font-size: 1.2rem;
  font-family: monospace;
  color: white;
  padding-top: 1rem;
}
#nav-menu a{
  color: white;
  text-decoration: none;
}
#nav-menu a:hover{
  color: #e8d5d3;
  border-bottom: 2px solid #e8d5d3;
}
.social a{
  color: white;
  text-decoration: none;
}
.social a:hover{
  color: #5f14ff;
}
.your-name{
  margin-top: 10vh;
  font-weight: bold;
  font-size: 2rem;
  font-family: monospace;
  color: white;
}

/* main-section */
main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  margin: 0px;
  border: 0px;
}
/* body-sections */
.body-sections{
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.body-sections:nth-of-type(2n){
  background-color: lightgrey;
}
/* section-headings */
.section-heading{
  color: purple;
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}
/* section-display */
.section-display{
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
}
.flex-row{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.flex-col{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pos-relative{
  position: relative;
}
/* about-section */
#about{
  position: relative;
}
#your-photo{
  width: 15rem;;
  height: 15rem;
  margin: auto;
  margin-top: -8rem;
}
#your-photo img{
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  border-radius: 50%;
}
#about-describe{
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: monospace;
  color: grey;
}
/* skills */
.progress-bar{
  width: 20rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 2rem 0;
  background-color: #cfc5c4;
}
.progress-bar span{
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  line-height: 2rem;
  padding-left: 2rem;
}
.percent-85{
  width: 85%;
  height: 100%;
  background-color: #eb332d;
  border-radius: 2rem;
}
.percent-90{
  width: 90%;
  height: 100%;
  background-color: #2211bd;
  border-radius: 2rem;
}
.percent-95{
  width: 95%;
  height: 100%;
  background-color: #188c0f;
  border-radius: 2rem;
}
/* work-experience */
.work-exp{
  min-height: 10vh;
  height: auto;
  width: 40%;
  margin: 1% 0;
  border: 2px solid grey;
  border-radius: 1rem;
  position: relative;
  left: 5%;
  padding: 1rem;
  box-sizing: border-box;
}
.work-exp::after{
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  border: 0.3rem solid grey;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: -15%;
  top: 0;
  z-index: 1;
}
.work-exp:nth-of-type(2n)::after{
  left: -15%;
  top: 0rem;
  z-index: 1;
}
.work-exp:nth-of-type(2n){
  left: 55%;
}
.work-exp{
  display: flex;
  flex-direction: column;
}
.duration{
  align-self: flex-end;
  color: #331757;
  font-weight: bold;
}
.explain{
  margin-top: 1rem;
}
.path{
  border: 2px dashed #0b8896;
  height: 90%;
  width: 0;
  position: absolute;
  left: 50%;
}
.path-guide{
  position: sticky;
  top: 5%;
  font-size: 1.5rem;
  transform: rotate(90deg);
  margin: 0;
  z-index: 2;
  color: #1315ab;
}

/* portfolio */
#portfolio .section-display>div{
  margin: 1rem;
}
.project{
  width:30rem;
  border: 2px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
.project ul{
  margin-bottom: 1rem;
  color: #331757;
  font-weight: bold;
}
.project ul li{

}
/* contact */
#contact{
  background-image: linear-gradient(90deg, #11096b, #331757);
  color: white;
}
#contact .section-heading{
  color: white;
}
form{
  margin: 0;
}
form>div{
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
input, textarea{
  background-color: unset;
  min-width: 5rem;
  color: white;
}
input:not([type="submit"]), textarea{
  border: none;
  outline: none;
  height: 1rem;
  border-bottom: 2px solid white;
}
label{
  position: absolute;
  left: 0;
}
textarea:focus + label, textarea:not(:placeholder-shown) + label, input:focus + label, input:not(:placeholder-shown) + label{
  transform: translateY(-1rem) scale(0.8);
  color: grey;
  transform-origin: 0 0;
}
input[type="submit"]{
  border: 2px solid white;
  height: 2rem;
  border-radius: 20%
}
#contact .section-display>div{
  margin: 2rem;
}
.address>div{
  margin: 1rem 0;
}
.email a{
  color: white;
  text-decoration: none;
}
.email a:hover{
  color: #e8d5d3;
  border-bottom: 2px solid #e8d5d3;
}
#contact .social{
  margin: 1rem 0;
}
